@font-face {
  font-family: "SchoolBell";
  src: url('./fonts/Schoolbell/Schoolbell-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Singsong";
  src: url('./fonts/singsong/Singsong.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  min-height: 100vh;
  padding: 2rem;
  gap: 2rem;
}

body {
  font-family: 'SchoolBell', cursive;
  background-image: linear-gradient(0deg,
      rgba(123, 184, 228, 0.6) 0% 25%, 
      rgba(255, 255, 255, 0.6) 25% 75%, 
      rgba(123, 184, 228, 0.6) 75% 100%),
      linear-gradient(90deg,
        rgba(123, 184, 228, 0.6) 0% 25%, rgba(255, 255, 255, 0.6) 25% 75%, rgba(123, 184, 228, 0.6) 75% 100%
        );

    background-size: 80px 80px,80px 80px;
    min-height: 100vh;
}

h1 {
  font-family: 'Singsong', cursive;
  font-size: 2.5rem;
  color: #1e293b;
  text-align: center;
  margin-bottom: 1rem;
}

.header-tape-banner {
  font-family: 'Singsong', cursive;
  background-image: url('./assets/scotch_tape.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #1e293b;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.feed-controls {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.search-input {
  flex-grow: 1;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: 2px solid #cbd5e1;
  background: white;
  font-family: inherit;
  font-size: 1.3rem;
  color: #1E293B;
}

.sort-select {
  padding: 0.75rem 1rem;
  border-radius: 8px;
  border: 2px solid #cbd5e1;
  font-family: inherit;
  color: #1E293B;
  font-size: 1.3rem;
  background: white;
}

.quest-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1.5rem;
}

.loading-text, .empty-feed-text {
  text-align: center;
  font-size: 1.3rem;
  color: #1e293b;
  margin-top: 2rem;
}